/*.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 300px;
    grid-template-areas:
        "header header"
        "footer footer";
    gap: 200px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
*/


